<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>У вас есть карточки, ожидающие ревью</h1>
    <p>
      Чтобы перейти на сайт кликните по ссылке: <%= @url %>.
    </p>
  </body>
</html>